.about_me {
    /*    background-color: #747bff;*/
/*    height: 200px;*/
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.about_me_title {
    margin: 0px;
    /*    background-color: #747bff;*/
    grid-column: 1/5;
    grid-row: 1/2;
}
.about_me-items {
    /*    background-color: #ffd800;*/
    border: 1px #769973 solid;
    border-radius: 5px;
    grid-row: 2/6;
}
.self-img {
    grid-column:1/2;
}
.self-des {
    grid-column: 2/5;
    padding:5px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    
}
.des-font{
    margin:0px;
    padding:5px;
    grid-column:1/4;
}
.des-font p{
    margin:0px;
}
.des-web {
    text-align: center;
    grid-row: 2/3;
    align-self:center;
}

@media(max-width:576px) {
    .about_me-items {
        grid-column: 1/5;
    }
    .self-img {
        display:none;
        grid-row: 2/4;
    }
    .self-des {
        grid-row: 2/6;
    }
}


/*.about_card{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border: 1px #ccc solid;
    border-radius:5px;
}
.about_card img{
    
}*/


.media-type {
    border-bottom: 0.1px #769973 solid;
    padding-left: 20px;
    padding-bottom: 20px;
    /*    margin-bottom: 10px;*/
}

.media-type-btn {
    margin-right: 5px;
    color: #769973;
    background-color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
/*    display: flex;
    justify-content: flex-start;*/
}

article {
    width: 100%;
    height: 250px;
    border: 1px #769973 solid;
    border-radius: 5px;
    margin-bottom: 10px
}
/*Collection*/
.collections {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 自適應列數 */
    gap: 20px;
/*    padding: 20px;*/
}
.collections-items {
    height: 150px;
    background-color: antiquewhite;
    border: 1px #000 solid;
    border-radius: 10px;
    /*    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
    .collections-items:hover{
        transform: scale(1.03);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
}

.collections-items {
    background-color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

    .collections-items:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        opacity: 0.9;
        cursor: pointer;
    }

    .collections-items a {
        font-weight: 500;
        color: #fff;
        padding: 5px;
        text-decoration: inherit;
    }


/*Articles*/

.articles {
    display: grid;
    grid-template-columns: minmax(430px, 1fr);
    max-width: 100%;
    gap: 20px;
    padding:20px;
}
.articles-items {
    height: 200px;
    /*background: radial-gradient(circle at 20% 30%, #f8d5e3 0%, transparent 40%), radial-gradient(circle at 70% 40%, #e6d7f3 0%, transparent 50%), radial-gradient(circle at 50% 80%, #d0eaff 0%, transparent 50%);
    background-color: #fff5fb;
    background-blend-mode: lighten;*/
    /*    filter: blur(20px);*/
    /*background-color: #fff5fb;*/

    background-color: #769973;
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}
    .articles-items:hover {
        opacity:0.8;
        color:#fff;

    }

.return {
    border: 1px #769973 solid;
    border-radius: 5px;
    padding:3px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
    .return:hover {
/*        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);*/
        background-color: #769973;
        color: #fff;
    }

.flex-container{
    display:flex;
    justify-content:flex-start;
}
@media(max-width:768px) {
    .about_me{
        max-width:100%;
        padding:10px;
    }
    .media-type {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .content{
        padding:10px;
    }
    .collections {
        max-width:100%;
/*        padding: 10px;*/
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); /* 自適應列數 */
        }
    .articles {
        max-width: 100%;
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* 自適應列數 */
    }
    }
@media(max-width:576px){
    .flex-container{
        justify-content:space-between;
    }
    .select-wrapper{
        margin: 0px;
    }
}