#root {
    max-width: 100%;
    margin: 0 auto;
    height:100vh;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.logo a:hover{
    background-color:#769973;
    color:#fff;
}



header {
    width: 100%;
    height:65px;
    /*background: radial-gradient(circle at 20% 30%, #f8d5e3 0%, transparent 40%), radial-gradient(circle at 70% 40%, #e6d7f3 0%, transparent 50%), radial-gradient(circle at 50% 80%, #d0eaff 0%, transparent 50%);
    background-color: #fff5fb;
    background-blend-mode: lighten;*/
    /*    filter: blur(20px);*/
    /*    background: linear-gradient(135deg, #f8d5e3 0%, #e6d7f3 50%, #d0eaff 100%);*/
    background-color: #769973;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-layout {
/*    height: 100vh;*/
    width:100%;
    display:flex;
    flex-direction: column;
}
.hero-section {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #769973;
    text-align:center;
}

.hero-title {
    margin: 0px;
    font-size: 6rem;
    text-shadow: 6px 6px 0px #fff;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #333;
}


.container-header {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.container-body {
    width: 100%;
    min-height:100%;
    min-height:100%;
    background-color: #A0C89C;
    display: flex;
    justify-content: stretch;
}
.body-items {
    width: 60%;
    margin: 0 auto;

    background-color: #FDFFDE;
    padding:10px;
}
footer {
    width: 100%;
    background-color: #769973;
}
.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .container-footer a {
        color: #213547;
    }
        .container-footer a:hover {
            color: #fff;
        }
    .container-footer p {
        margin: 0px;
    }

.menu-toggle {
    display: none;
    cursor: pointer;
    background-color: #fdffde;
}


/*平板寬度*/
@media(max-width:768px) {

    .body-items {
        width: 80%;
    }
    .menu-toggle{
        display:block;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
        nav a {
            background-color: rgba(118, 153, 115, 0.9);
            border-radius:0px;
        }
        nav.active {
            display: flex;
        }
}

/* Loader */
.fullscreen-loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /*不阻擋底下操作 */
    z-index: 9999;
    overflow: hidden;
}

.fullscreen-loader-l,
.fullscreen-loader-r {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #769973;
/*    background: linear-gradient(135deg, #f8d5e3 0%, #e6d7f3 50%, #d0eaff 100%);*/
    transition: transform 1.5s ease-in-out;
    z-index: 9999;
}

.fullscreen-loader-l {
    left: 0;
/*    background: linear-gradient(135deg, #f8d5e3 0%, #e6d7f3 50%, #d0eaff 100%);*/
/*background: 
  radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), #fff),
  radial-gradient(farthest-side at bottom left, #e992d3, transparent), 
  radial-gradient(farthest-side at top left, #a4fff6, transparent), 
  radial-gradient(farthest-corner at bottom right, #ff7ece, transparent),
  radial-gradient(farthest-corner at top right,  #ff7ece, transparent);*/
}
.fullscreen-loader-r {
    right: 0;
/*    background: linear-gradient(-135deg, #f8d5e3 0%, #e6d7f3 50%, #d0eaff 100%);*/
/*background: 
  radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), #fff),
  radial-gradient(farthest-side at bottom right, #e992d3, transparent), 
  radial-gradient(farthest-side at top right, #a4fff6, transparent), 
  radial-gradient(farthest-corner at bottom left, #ff7ece, transparent),
  radial-gradient(farthest-corner at top left,  #ff7ece, transparent);
*/

}

.slide-out-l {
    transform: translateX(-100%);
}
.slide-out-r {
    transform: translateX(100%);
}

/* 霧效果
@keyframes fogFadeOut {
    0% {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }

    100% {
        opacity: 0;
        filter: blur(20px);
        transform: scale(1.05);
    }
}*/

.fog-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #f8d5e3, #e6d7f3, #d0eaff);
    z-index: 9999;
    animation: fogFadeOut 2s ease-out forwards;
}


/*    .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top: 6px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}*/



/*@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
*/

/*手機寬度*/
@media(max-width:450px){
    .body-items .hero-section {
        width: 100%;
    }
}