#root {
    max-width: 100%;
    margin: 0 auto;
    height:100vh;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.logo a:hover{
    background-color:#769973;
    color:#fff;
}



header {
    width: 100%;
    height:65px;
    background-color: #769973;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-layout {
    width:100%;
    display:flex;
    flex-direction: column;
}
.hero-section {
    height: calc(100vh - 60px);
    width: 100%;

    display:grid;
    grid-template-rows:repeat(5,1fr);
    justify-items:center;

    background-color: #769973;
    text-align:center;
}
.hero-title{
    grid-row:1/4;
    align-self:center;
}
.hero-section button {
    width: 85px;
    height:85px;
    border-radius:50%;
    align-self: center;

    background-color: #fff; 
    color: #769973;
    border: 2px solid #769973; 
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    
    transition: all 0.5s ease;
}

    .hero-section button:hover {
        background-color: #769973;
        color: #fff;
        border: 2px solid #fff; 
        transform: scale(1.2);
    }

        .hero-section button font {
            font-size:36px;
            animation: floatArrow 2s infinite;
        }


@keyframes floatArrow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}


.container-header {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.container-body {
    width: 100%;
    min-height: 100%;
    min-height: 100%;
    background-color: #A0C89C;
    display: flex;
    justify-content: stretch;
    padding: 65px 0px 0px 0px ;
}
.body-items {
    width: 60%;
    margin: 0 auto;

    background-color: #FDFFDE;
    padding:10px;
}
footer {
    width: 100%;
    background-color: #769973;
}
.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .container-footer a {
        color: #213547;
    }
        .container-footer a:hover {
            color: #fff;
        }
    .container-footer p {
        margin: 0px;
    }

.menu-toggle {
    display: none;
    cursor: pointer;
    background-color: #fdffde;
}


/*平板寬度*/
@media(max-width:768px) {

    .body-items {
        width: 80%;
    }
    .menu-toggle{
        display:block;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
        nav a {
            background-color: rgba(118, 153, 115, 0.9);
            border-radius:0px;
        }
        nav.active {
            display: flex;
        }
}

/*手機寬度*/
@media(max-width:450px){
    .body-items .hero-section {
        width: 100%;
    }
}