@use './variables' as *;
@use './button';

#root {
    max-width: 100%;
    margin: 0 auto;
    height:100vh;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.hero-layout {
    width:100%;
    display:flex;
    flex-direction: column;

    & .light {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color:$secondary-color;
    }
    & .dark {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ccc;
    }
}

.hero-section {
    height: calc(100vh - 60px);
    width: 100%;
    display:grid;
    grid-template-rows:repeat(5,1fr);
    justify-items:center;
    background-color: $primary-color;
    text-align:center;

    &__button {
        width: 85px;
        height:85px;
        border-radius:50%;
        align-self: center;
        background-color: $secondary-color; 
        color: $primary-color;
        border: 2px solid $primary-color; 
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.5s ease;

         font {
            font-size:36px;
            animation: floatArrow 2s infinite;
        }

        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
            border: 2px solid $secondary-color; 
            transform: scale(1.2);
        }
    }
}
.hero-title{
    grid-row:1/4;
    align-self:center;
}


@keyframes floatArrow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.container-body {
    width: 100%;
    min-height: 100%;
    background-color: #A0C89C;
    display: flex;
    justify-content: stretch;
    padding: 65px 0px 0px 0px ;
}
.body-items {
    width: 60%;
    margin: 0 auto;

    background-color: $secondary-color;
    padding:10px;
}
footer {
    width: 100%;
    background-color: $primary-color;
}
.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items:center;
    gap:5px;

    a {
        color: #000;
        align-self:center;

        &:hover {
            color: $secondary-color;
        }
    }
    p {
        margin: 5px;
        grid-column:1/4;
    }
}
 



/*平板寬度*/
@media(max-width:768px) {

    .body-items {
        width: 80%;
    }


    
}

/*手機寬度*/
@media(max-width:450px){
    .body-items .hero-section {
        width: 100%;
    }
}