@use './variables' as *;
@use './button';

html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* 2. u近セ砰]キ`A^ */
body::-webkit-scrollbar-thumb {
    background: #9dbf9e;
    border-radius: 10px;
    cursor: grab; 
}

    /* 3. 菲公 hover bu近セ砰 */
    body::-webkit-scrollbar-thumb:hover {
        background: #6c8f6e;
        
    }
    body::-webkit-scrollbar-thumb:active{
        cursor:grabbing;
    }

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
/*    color-scheme: light dark; ぇ岢]pndark家ΑAэ^ㄓ*/
/*    color: rgba(255, 255, 255, 0.87);*/
    background-color: $secondary-color;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



a{
    text-decoration:none;
    color: $primary-color;
}


body {
    margin: 0 auto;
    min-width: 320px;
    min-height: 100vh;
}


input {
    box-sizing:border-box;
/*    padding-left:50%;*/
    width:inherit;
    padding: 5px 0px;
    border-radius: 10em;
    border: 1px solid #AAAAAA;
    font-size: 1em;
    font-weight: 650;
    font-family: inherit;
    text-align:center;
    transition: border-color 0.25s;

    &:focus {
        outline:none;
        border: 1px solid #AAAAAA;
    }
    &:hover {
        background-color: #e9f2e9;
    }
}

.select-wrapper {
    position: relative;
    margin: 0 20px;
}

select {
    border-radius: 25px;
    border: 1px solid #AAAAAA;
    padding: 5px 10px;
    width:100%;
    box-sizing:border-box;

    font-size: 1em;
    font-weight: 650;
    text-align:center;
    font-family: inherit;

    background-color: $primary-color;
    color: $secondary-color;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
        cursor: pointer;
    }
}

