.fullscreen-loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; 
    z-index: 9999;
    overflow: hidden;
}

.fullscreen-loader-l,
.fullscreen-loader-r {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #769973; 
    transition: transform 1.5s ease-in-out;
    z-index: 9999;
}

.fullscreen-loader-l {
    left: 0;
}

.fullscreen-loader-r {
    right: 0;
}

/* 往兩邊滑出 */
.slide-out-l {
    transform: translateX(-100%);
}
.slide-out-r {
    transform: translateX(100%);
}