@use './variables' as *;

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;

    &-wrapper {
        display: flex;
        width: 100%;
        transition: transform 0.5s ease;
    }
}
.slide {
    flex: 0 0 calc((100% - 40px) / 2);
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;

    &__pic {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        background: $background-color;
        object-fit: cover;
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    font-size: 2rem;
    color: #333;
    z-index: 1;
    opacity:70%;

    &:hover {
        background-color: transparent;
    }

    &.left {
        left: 5px;
    }

    &.right {
        right: 5px;
    }
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
}

.dot.active {
    background-color: $primary-color;
}
